<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
         body {
      background-image: url({% static 'img_3.png' %});
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 630px;
    }
    .tab{
     background-image: url({% static 'img_4.png' %});
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 600px;
    }
    </style>
<!--    <script src="https://kit.fontawesome.com/c323ca6c65.js" crossorigin="anonymous"></script>-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">{% csrf_token %}
    <H1 align="center" style="color:blue;"><U><B>ENTER YOUR DIARY</B></U></H1>
    <table align="center" class="tab" style="margin-top:50px; height:450px;width:900px;padding-top:10px;padding-left:10px;">
        <tr>
            <th style="color:darkred;" ><label><h2><b>Title :</b></h2></label></th>
            <td> <input type="text" name="topic" size="35" style="background-color:palegreen;height:50px;width:300px;" class="form-control"><br><br></td>
        </tr>
        <tr>
            <div class="mb-3">
                <th style="color:darkred;"><label ><h3><b>Content :</b></h3></label></th>
                <td> <textarea name="content" style="background-color:palegreen;height:250px;width:500px;" class="form-control" rows="3"></textarea></td>



            </div>
        </tr>
<!--        <tr>-->
<!--            <th><label>Image:</label></th>-->
<!--            <td><input type="file" name="img"><br><br>-->
<!--      -->
<!--        </tr>-->
        <tr >
            <td><button style="margin-top:50px;margin-left:50px;" type="submit" class="btn btn-danger">Submit</button></td>
        </tr>




    </table>


</form>

</body>
</html>