
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('div');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("h5")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
<!--    script explain-->
<!--    <script>-->
<!--function myFunction() {-->
<!--  // Declare variables-->
<!--  var input, filter, ul, li, a, i, txtValue;-->

<!--  input = document.getElementById('myInput'); //searchbox-->

<!--  filter = input.value.toUpperCase();  //convert any case of string to uppercase-->

<!--  ul = document.getElementById("myUL"); //parent div-->

<!--  li = ul.getElementsByTagName('div'); //child div[div, div ,div,...]-->


<!--  //getElementsByTagName('div')  :-it is used to get each elements with the corresponding tag name-->

<!--  // Loop through all list items, and hide those who don't match the search query-->
<!--  for (i = 0; i < li.length; i++) {-->
<!--  -->
<!--    a = li[i].getElementsByTagName("h5")[0];  //[h5]&ndash;&gt;h5-->
<!--    -->
<!--    txtValue = a.textContent || a.innerText;-->
<!--    //it select the complete text or the inner text content-->
<!--    -->
<!--    if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--  -->
<!--      li[i].style.display = "";-->
<!--    } else {-->
<!--      li[i].style.display = "none";-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
   <style>
   body{background-image: url({% static 'news bg.jpg' %});
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 630px;
}
        #a{height: 70px;width: 150px;padding-left:60px;padding-top:20px;margin-left:270px;}
        #h{width: 500px;margin-left: 300px;}

    </style>
<script src="https://kit.fontawesome.com/db6eb46503.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<body style="background-color:">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="background-color: olive;">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" style="margin-left:50px;" href="http://127.0.0.1:8000/diaryapp/indexpage/"target="_blank"><h2>Home</h2></a>
                </li>
                <li class="nav-item">
<!--                    <a class="nav-link" href="http://127.0.0.1:8000/diaryapp/regi/" style="margin-left:130px;" target="_blank"><h2>-->
<!--                        Register</h2></a>-->
                        <a class="nav-link" style="margin-left:90px;" href="http://127.0.0.1:8000/diaryapp/wishdisp/" target="_blank"><h2> SAVED EVENTS</h2></a>
                </li>
                <a class="navbar-brand" style="margin-left:130px;" href="" target="_blank"><img src="{% static 'img.png' %}"
                                                             style="height: 60px;width:130px;"></a>
                <a href="http://127.0.0.1:8000/diaryapp/pro/"> <i class="fa-solid fa-backward fa-fade fa-3x" style="color: #03e212;margin-top:9px;margin-left:90px;"></i></a>
                <li>
                    <input  type="text" id="myInput" style="width:250px;height:40px;margin-left:130px;margin-top:18px;background-color:tan;" onkeyup="myFunction()" placeholder="Search by topic...">


                </li>


            </ul>

            <!--  -->


        </div>

    </div>
</nav>

<!--<input style="margin-left:700px;background-color:palegreen;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by topic...">-->

<div id="myUL">
<!--    <a href="http://127.0.0.1:8000/diaryapp/wishdisp/" class="btn btn-primary" style="margin-top:10px;margin-bottom:30px;" type="submit"> View Wishlist</a>-->
    <table >


<!--<div id="h" class="row" style="margin-left:20px;">-->
    {% for i in a %}
    <div class="col-12" style="margin-top:50px;" align="center">
     <div align="center" class="card" style="width: 750px;background-color:orange;margin-bottom:50px;">
      <img id="a"  src="{% static 'img.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
       <h5 class="card-title">{{i.topic}}</h5>
       <p class="card-text">{{i.content}}</p>
       <p class="card-text">{{i.date}}</p>
<!--       <i class="fa-solid fa-thumbs-up fa-fade fa-3x"></i>-->
<!--      <i class="fa-solid fa-heart fa-flip fa-3x"></i>-->
          <a href="http://127.0.0.1:8000/diaryapp/Wishlist/{{i.id}}"><i class="fa-solid fa-bookmark fa-shake fa-3x"></i></a>
      </div>
     </div>
    </div>
    {% endfor %}
<!--</div>-->
</table>


</div>




</body>
</html>
